@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiBadge-badge{background: #f03170 !important;}

body{
    font-family: "Montserrat", sans-serif;
    background: #f1f1f1;
}

::-webkit-scrollbar{width: 10px !important; height: 10px !important;}
::-webkit-scrollbar-thumb{background: #ccc;}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.btn{padding: 8px 20px !important;}

.btn-blue{background: #2872fa !important; color: #fff !important; padding: 8px 20px !important;}
.btn-blue:hover{background: #1260f1 !important;}

.btn-sm{padding: 6px 20px !important; font-size: 13px !important;}

.btn-lg{padding: 8px 20px !important; font-size: 16px !important;}

th.MuiTableCell-root {
  background-color: #f1f1f1;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

a.active button{background: #e8e8e8 !important;}

.MuiButton-icon svg{font-size: 27px !important;}

.css-rizt0-MuiTypography-root{font-size: 14px !important;}

.MuiAppBar-colorPrimary{background: #e6e6e6 !important;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiSelect-select{background: #fff !important;}

.MuiDialog-paper{background: #f9fafb !important;}

.otpBox input{border: 1px solid rgba(0,0,0,0.3) !important; outline: none !important; border-radius: 4px;}
.otpBox input:focus{border: 1px solid rgba(0,0,0,0.7) !important;}
.otpPage .container{ height: 90vh; display: flex;}  

.MuiTableBody-root tr:nth-child(even){background-color: #f9fafb;}

button .MuiCircularProgress-root{width: 30px !important; height: 30px !important;}

.react-international-phone-input-container {
  width: 100% !important;
}
.react-international-phone-input{width: 100% !important;}
.react-international-phone-country-selector-button{width: 55px !important;}

.Mui-focused fieldset legend{display: none !important;}

.zoomProductSliderThumb.space .swiper-wrapper{padding-top: 38px !important;}
.zoomProductSliderThumb .swiper-button-next{
  bottom: 0px !important;
  right: inherit !important; 
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}
.zoomProductSliderThumb .swiper-button-prev{
  left: 0 !important;
  top: 20px !important; 
  right: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
}
.zoomProductSliderThumb .swiper-button-next::after, .zoomProductSliderThumb .swiper-button-prev::after{
  transform: rotate(90deg);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #f03170 !important;
}
.swiper-slide .iiz{height: 400px !important; overflow: hidden !important;} 

.contentRight{padding-top: 80px !important;}

.MuiTableCell-root{padding-left: 80px !important;}